.navbar {
    justify-content: space-between;
    background: rgb(70, 12, 60);
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 501;
}

.nav {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    box-shadow: 1px 1px 5px rgb(94, 93, 92);
}

.nav-links {
    width: 40%;
    min-width: 260px;
    max-width: 350px;
    justify-content: space-around;
    height: 100%;
}

.nav-links.authed {
    width: 30%;
    min-width: 220px;
    max-width: 300px;
    justify-content: space-evenly;
}

.brand-link {
    justify-content: center;
    width: 30%;
    min-width: 150px;
    max-width: 200px;
}

.brand-link h3 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

.account-links {
    justify-content: space-between;
    min-width: 115px;
}

.navlink-text {
    width: max-content;
    color: white;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.dropdown-container {
    position: relative;
    height: 100%
}

.dropdown-menu {
    position: absolute;
    display: none;
    padding: 5px 25px 10px 10px;
    background-color: #c21758c0;
}

.dropdown-text {
    margin: 10px 0;
}

.dropdown-container:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    top: 60px;
}

@media (max-width:450px) {
    .greeting {
        display: none;
    }
}

.login-prompt{
    margin: 8px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
form p {
    font-size: 20px;
}

.login-children {
    margin: 10px 0;
    width: 80%;
}

.dropdown-login {
    background-color: #c21758c0;
    position: absolute;
    width: 250px;
    padding: 10px;
    top: 60px;
    /* color: #eeda67; */
    font-size: 23px;
}

.login-submit {
    margin: 10px 35px;
    border-radius: 2px;
}

.danger {
    text-align: center;
    margin-bottom: 12px;
    text-shadow: rgba(0, 0, 0, .5);
    color: red;
    font-weight: bold;
}

.login-toggle {
    width: 45%;
    margin: 5px 0;
    border-radius: 2px;
}

.buttons-container {
    align-items: flex-end;
}

.toggle-container {
    align-items: center;
    width: 100%
}
.toggle-container p {
    font-size: 20px;
}

@keyframes login-hide {
    from {right: -56px; opacity:1}
    to {right: -380px; opacity:0.3}
}
@keyframes login-show {
    from {right: -380px; opacity:0.3}
    to {right: -56px; opacity: 1}
}

#login-start {
    display: none
}

#login-active {
    animation-name: login-show;
    animation-timing-function: cubic-bezier(0, 1, 0.6, 1.1);
    animation-duration: .5s;
    right: -56px;
}
#login-not-active{
    animation: login-hide;
    animation-timing-function: ease;
    animation-duration: .5s;
    right: -380px;
}
h1 {
    /* color: rgb(224, 213, 223); */
}