.track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
    /* background-color: #332E3C; */
    color: #F8F4E3;
}

.interval {
    display: flex;
    margin: 30px;
}

.key {
    border: 2px solid black;
    border: 2px solid #332E3C;
    width: 4vw;
    height: 105px;
    background-size: cover;
    background-color: #332E3C;
}

.sheet h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls img {
    width: 50px;
    margin: 20px;
}

.edit-button{
    background-color:rgb(221, 52, 61);
    display: flex;
    font-size: 100%;
    font-weight: bold;
    padding: 5%;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 20%;
    border-radius: 3px;
    
    z-index: 500;
    color: #F8F4E3;

}