.trackListing {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.listing {
    margin-top: 60px;
    padding-top: 20px;
}
.listing h1 {
    font-size: 30px;
    padding: 20px;
    margin: 0 30px;
    font-family: 'Abril Fatface', cursive;
    color: white;
    width: 12vw;
    min-width: 150px;
    background-color:#f48fb1;
}

.trackListing h2 {
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
}

.trackPreview {
    position: relative;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
    height: 325px;
    max-width: 350px;
    flex: 1 1 300px;
    background-image: url(../resources/music-placeholder.png);
    background-position: center;
    background-position-y: -30px;
}

.trackPreview h2 {
    background-color: #bf5f82;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 400px;
}

.delete-prompt-button {
    position: absolute;
    top:0;
    right:0;
    z-index: 500;
}
